header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  border: double #93572F;
  border-width: 20px 0px 20px 0px;
}

.logo {
  display: flex;
  align-items: center;
  height: 80%;
  padding: 0 5%;
  border-style: solid;
  border-width : 0px 1px 0px 1px;
  border-color: #93572F;  
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 20px solid #93572F;
  height: 100px;
}

a {
  padding: 20px;
}

.login {
  
}